@font-face {
  font-family: "ABC Diatype Semi-Mono";
  src:
    url(fonts/ABCDiatypeSemi-MonoEdu-Regular.woff2) format("woff2"),
    url(fonts/ABCDiatypeSemi-MonoEdu-Regular.woff) format("woff");
}

:root {
  --text: 0.875rem;
  --bg-color: #1c1b1a;
  --ui-color: #343331;
  --text-color: #cecdc3;
  --text-color-faint: #878580;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-xl: 2rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: "ABC Diatype Semi-Mono", sans-serif;
  font-size: var(--text);
  font-weight: normal;
}

body {
  padding: 40px;
  padding-top: 8px;
  background: var(--bg-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-sm);
  max-width: 60em;
}

li {
  margin-bottom: var(--spacing-xs);
}

.container {
  border-top: solid 1px var(--ui-color);
  padding-top: 8px;
  display: flex;
  gap: var(--spacing-md);
  flex-grow: 1;
  .title {
    flex: 0 0 37.5%;
    h2 {
      padding-right: 1.5em;
      font-size: var(--text);
      font-weight: normal;
      text-transform: uppercase;
    }
  }

  .info {
    flex: 0 0 37.5%;
    > * {
      padding-right: 1em;
    }
    p {
      margin-bottom: 1.5em;
    }
    ul.links {
      list-style-type: none;
    }
  }

  video {
    flex: 0 0 25%;
    width: 100%;
    height: auto;
    display: block;
  }
}

.header {
  margin-top: 8px;
  margin-bottom: 16px;
  display: flex;
  width: 100%;

  aside {
    color: var(--text-color-faint);
  }

  .about-row {
    margin-bottom: var(--spacing-sm);
    display: flex;
    gap: 0;
  }

  :nth-child(2) {
    margin-left: var(--spacing-md);
  }

  :nth-child(4) {
    margin-left: var(--spacing-xl);
  }
}

.header .about-label {
  flex-shrink: 0;
  white-space: nowrap;
}

.header .about-text {
  flex: 1;
}

.header .about-list {
  flex: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  color: var(--text-color);
  transition: color 0.3s ease;
}

a.external::after {
  margin-left: 0.25em;
  content: "↗︎";
  color: var(--text-color-faint);
  display: inline-block;
  vertical-align: middle;
}

.github::before {
  background-color: var(--text-color-faint);
  width: 1em;
  height: 1em;
  display: inline-block;
  content: "";
  -webkit-mask: url(icons/github.svg) no-repeat 50% 50%;
  mask: url(icons/github.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  vertical-align: middle;
  margin-right: 0.25em;
}

@media (max-width: 570px) {
  .header {
    flex-direction: column;
    .about-row {
      flex-direction: column;
    }
    li {
      list-style-type: disc;
      margin-left: var(--spacing-md);
    }
  }
  .container {
    flex-direction: column;
  }
}
